<mat-card>
  <mat-card-header>
    <mat-card-title>Outputs</mat-card-title>
  </mat-card-header>

  <table>
    <th> Function </th>
    <th> Button</th>
    <th> Output</th>
    
    <!--SHOW PEOPLE-->
    <tr>
      <td>
        <mat-card-subtitle> Show all people</mat-card-subtitle>
      </td>
      <td><button mat-button (click)="getPersons()">get all persons</button></td>

      <td>
        <mat-list *ngFor="let person of personList">
          <mat-list-item>{{ person.name }}</mat-list-item>
        </mat-list>
      </td>
    </tr>

    <!--SHOW ALL TODOS-->
    <tr>
      <td>
        <mat-card-subtitle> Show all ToDos: </mat-card-subtitle>
      </td>
      <td><button mat-button (click)="getAllToDos()">get all ToDos/ refresh ToDos</button></td>

      <td>
        <div>
          <colgroup width="100%"></colgroup>
    <tr>
      <mat-card-subtitle>
        <th>id</th>
        <th>assigned to</th>
        <th>description</th>
        <th>done</th>
      </mat-card-subtitle>
    </tr>
    </div>

    <tr>
      <table width="100%" *ngFor="let todo of todoList">
        <td>{{todo.id}}</td>
        <td> {{todo.assignedTo}}</td>
        <td> {{todo.description}}</td>
        <td>{{todo.done}}</td>
      </table>
    </tr>
    </td>

    <!--UNDONE TODOS-->
    <tr>
      <td>
        <mat-card-subtitle> Show all undone ToDos: </mat-card-subtitle>
      </td>
      <td><button mat-button (click)="getUndoneToDos()">get undone ToDos</button></td>

      <td>
        <table *ngFor="let todo of undoneTodos">
          <tr>
            <td>{{todo.id}}</td>
            <td> {{todo.assignedTo}}</td>
            <td> {{todo.description}}</td>
            <td>{{todo.done}}</td>
          </tr>

        </table>
      </td>
    </tr>

    <!-- MY TODOS-->
    <tr>
      <td>
        <mat-card-subtitle>Show my todos: </mat-card-subtitle>
      </td>
      <td> <button mat-button (click)="getMyTodos()"> my todos </button></td>

      <td>
        <table *ngFor="let myTodo of myTodos">
          <tr>
            <td>{{myTodo.id}}</td>
            <td> {{myTodo.assignedTo}}</td>
            <td> {{myTodo.description}}</td>
            <td>{{myTodo.done}}</td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- MY UNDONE TODOS-->
    <tr>
      <td>
        <mat-card-subtitle>Show my undone todos: </mat-card-subtitle>
      </td>
      <td> <button mat-button (click)="getMineUndone()"> my undone todos </button></td>
    </tr>
    <table *ngFor="let myUndone of mineUndone">
      <tr>
        <td>{{myUndone.id}}</td>
        <td> {{myUndone.assignedTo}}</td>
        <td> {{myUndone.description}}</td>
        <td>{{myUndone.done}}</td>
      </tr>
    </table>
  </table>
</mat-card>


<mat-card>
  <mat-card-header>
    <mat-card-title>Changes</mat-card-title>
  </mat-card-header>

  <!--CREATE NEW TODO-->
  <tr>
    <td>
      <mat-card-subtitle>New Todo:</mat-card-subtitle>
    </td>
    <td> description: <input mat-input type="text" name="description" (change)="editCreateDesc($event.target.value)">
    </td>
    <td> asignee (optional):</td>
    <option > </option>
    <select (change)="editCreateAssignee($event.target.value)">
      <option *ngFor="let person of personList"> {{person.name}} </option>
    </select>

    <td>
      <mat-radio-button type="radio" name="done" value="done">done </mat-radio-button>
    </td>
    <td>
      <mat-radio-button type="radio" name="done" value="undone">undone </mat-radio-button>
    </td>
    <td> <button mat-button (click)="newTodo()">create</button></td>
  </tr>

  <!--EDIT EXISTING TODO-->
  <tr>
    <td>
      <mat-card-subtitle>Edit Todo: </mat-card-subtitle>
    </td>
    <td> id: <input type="number" name="changeId" min="0" (change)="editCreateId($event.target.value)"> </td>
    <td> description: <input type="text" name="description" (change)="editCreateDesc($event.target.value)"> </td>
    <td> assignee: <select (change)="editCreateAssignee($event.target.value)">
        <option > </option>
        <option *ngFor="let person of personList"> {{person.name}} </option>
      </select></td>
    <td>
      <mat-radio-button type="radio" name="done" value="done">done </mat-radio-button>
    </td>
    <td>
      <mat-radio-button type="radio" name="done" value="undone">undone</mat-radio-button>
    </td>
    <td> <button mat-button (click)="editTodo()">edit</button> </td>
  </tr>

  <!-- DELETE TODO-->
  <tr>
    <td>
      <mat-card-subtitle> Delete Todo:</mat-card-subtitle>
    </td>
    <td> id: <input type="number" (change)="changeDelete($event.target.value)" min="0"> </td>
    <td><button mat-button (click)="deleteTodo()">delete</button></td>
  </tr>

</mat-card>